entrypoint = "index.js"
modules = ["bun-1.1", "nodejs-20", "nodejs-22", "python-3.11"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"
packages = ["bottom", "fish", "ksh", "libxcrypt", "nodejs_22", "perl540Packages.AppClusterSSH", "powershell", "python311Packages.pipx", "python312Packages.pip", "zsh"]

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[agent]
expertMode = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000


[[ports]]
localPort = 5000
externalPort = 80
